body{
    margin:0;
    padding:0;
    background-color: #747474;

}
#about{
    background-image: url("Images/pizza4.jpegb");
    background-size: cover;
    margin-top: 20px;
    background-repeat: no-repeat;
    color: #272727;
    font-weight: 900;
    font-size: small;
    background-position: center;
}
#services{
   background-color: #FF652F;
   
}